@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700|Titillium+Web:400,700&display=swap);
html {
  scroll-behavior: smooth; }

body,
ul, li,
h1, h2, h3, h4, h5, h6 {
  margin: unset; }

ul {
  padding: 0; }

body * {
  box-sizing: border-box; }

.about-me .about-me-content .about-me-title, .challenge .challenge-title {
  color: black;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 40px; }

.side-menu .side-menu-logo, .side-menu .side-menu-links-list .side-menu-link, .navbar .navbar-left .navbar-logo, .navbar .navbar-right .navbar-links-list .navbar-anchor {
  position: relative;
  cursor: pointer; }
  .side-menu .side-menu-logo:after, .side-menu .side-menu-links-list .side-menu-link:after, .navbar .navbar-left .navbar-logo:after, .navbar .navbar-right .navbar-links-list .navbar-anchor:after {
    content: '';
    position: absolute;
    z-index: 11;
    left: 0;
    bottom: -2px;
    height: 2px;
    background-color: white;
    width: 0px;
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -o-transition: width 0.4s;
    transition: width 0.4s; }
  .side-menu .side-menu-logo:hover:after, .side-menu .side-menu-links-list .side-menu-link:hover:after, .navbar .navbar-left .navbar-logo:hover:after, .navbar .navbar-right .navbar-links-list .navbar-anchor:hover:after {
    width: 100%; }

.about-me .about-me-content, .navbar .navbar-container, .challenge .challenge-container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 1200px) {
    .about-me .about-me-content, .navbar .navbar-container, .challenge .challenge-container {
      width: 750px; } }
  @media (min-width: 992px) {
    .about-me .about-me-content, .navbar .navbar-container, .challenge .challenge-container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .about-me .about-me-content, .navbar .navbar-container, .challenge .challenge-container {
      width: 1170px; } }

@-webkit-keyframes typewritter {
  from {
    width: 0; }
  to {
    width: 100%; } }

@-moz-keyframes typewritter {
  from {
    width: 0; }
  to {
    width: 100%; } }

@-ms-keyframes typewritter {
  from {
    width: 0; }
  to {
    width: 100%; } }

@-o-keyframes typewritter {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes typewritter {
  from {
    width: 0; }
  to {
    width: 100%; } }

@-webkit-keyframes caret {
  0% {
    border-color: transparent; }
  50% {
    border-color: white; }
  100% {
    border-color: transparent; } }

@-moz-keyframes caret {
  0% {
    border-color: transparent; }
  50% {
    border-color: white; }
  100% {
    border-color: transparent; } }

@-ms-keyframes caret {
  0% {
    border-color: transparent; }
  50% {
    border-color: white; }
  100% {
    border-color: transparent; } }

@-o-keyframes caret {
  0% {
    border-color: transparent; }
  50% {
    border-color: white; }
  100% {
    border-color: transparent; } }

@keyframes caret {
  0% {
    border-color: transparent; }
  50% {
    border-color: white; }
  100% {
    border-color: transparent; } }

@-webkit-keyframes fixing {
  0% {
    top: -40px; }
  100% {
    top: 0; } }

@-moz-keyframes fixing {
  0% {
    top: -40px; }
  100% {
    top: 0; } }

@-ms-keyframes fixing {
  0% {
    top: -40px; }
  100% {
    top: 0; } }

@-o-keyframes fixing {
  0% {
    top: -40px; }
  100% {
    top: 0; } }

@keyframes fixing {
  0% {
    top: -40px; }
  100% {
    top: 0; } }

@-webkit-keyframes unfixing {
  0% {
    top: 0; }
  100% {
    top: -60px; } }

@-moz-keyframes unfixing {
  0% {
    top: 0; }
  100% {
    top: -60px; } }

@-ms-keyframes unfixing {
  0% {
    top: 0; }
  100% {
    top: -60px; } }

@-o-keyframes unfixing {
  0% {
    top: 0; }
  100% {
    top: -60px; } }

@keyframes unfixing {
  0% {
    top: 0; }
  100% {
    top: -60px; } }

@-webkit-keyframes fade-in-background {
  0% {
    background-color: rgba(0, 0, 0, 0.9); }
  100% {
    background-color: rgba(0, 0, 0, 0.6); } }

@-moz-keyframes fade-in-background {
  0% {
    background-color: rgba(0, 0, 0, 0.9); }
  100% {
    background-color: rgba(0, 0, 0, 0.6); } }

@-ms-keyframes fade-in-background {
  0% {
    background-color: rgba(0, 0, 0, 0.9); }
  100% {
    background-color: rgba(0, 0, 0, 0.6); } }

@-o-keyframes fade-in-background {
  0% {
    background-color: rgba(0, 0, 0, 0.9); }
  100% {
    background-color: rgba(0, 0, 0, 0.6); } }

@keyframes fade-in-background {
  0% {
    background-color: rgba(0, 0, 0, 0.9); }
  100% {
    background-color: rgba(0, 0, 0, 0.6); } }

@-webkit-keyframes growing_repository {
  0% {
    height: 0px; }
  100% {
    height: 40px; } }

@-moz-keyframes growing_repository {
  0% {
    height: 0px; }
  100% {
    height: 40px; } }

@-ms-keyframes growing_repository {
  0% {
    height: 0px; }
  100% {
    height: 40px; } }

@-o-keyframes growing_repository {
  0% {
    height: 0px; }
  100% {
    height: 40px; } }

@keyframes growing_repository {
  0% {
    height: 0px; }
  100% {
    height: 40px; } }

@-webkit-keyframes spinning-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-moz-keyframes spinning-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-ms-keyframes spinning-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-o-keyframes spinning-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spinning-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.mobile-button {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -ms-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s; }
  .mobile-button .mobile-button-icon {
    color: white;
    font-size: 20px; }
  .mobile-button:hover, .mobile-button:focus, .mobile-button:active {
    background-color: white; }
    .mobile-button:hover .mobile-button-icon, .mobile-button:focus .mobile-button-icon, .mobile-button:active .mobile-button-icon {
      background-clip: text;
      color: black; }
  @media (min-width: 992px) {
    .mobile-button {
      display: none; } }

.side-menu {
  position: fixed;
  overflow: hidden;
  background: white;
  box-shadow: 4px 1px 15px rgba(55, 55, 55, 0.2);
  z-index: 11;
  left: 0;
  top: 0;
  width: 0;
  height: 100vh;
  padding: 20px 14px;
  max-width: 75%;
  opacity: 0;
  -webkit-transition: width 0.5s, opacity 0.5s;
  -moz-transition: width 0.5s, opacity 0.5s;
  -ms-transition: width 0.5s, opacity 0.5s;
  -o-transition: width 0.5s, opacity 0.5s;
  transition: width 0.5s, opacity 0.5s; }
  @media (min-width: 992px) {
    .side-menu {
      display: none; } }
  .side-menu.visible {
    opacity: 1;
    width: 300px;
    max-width: 75%; }
  .side-menu .side-menu-logo {
    display: block;
    white-space: nowrap;
    font-family: "Titillium Web", sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
    font-weight: 400;
    opacity: 0;
    padding-bottom: 8px;
    width: fit-content;
    border-bottom: 1px solid black;
    -webkit-transition: opacity 2.4s;
    -moz-transition: opacity 2.4s;
    -ms-transition: opacity 2.4s;
    -o-transition: opacity 2.4s;
    transition: opacity 2.4s; }
    .side-menu .side-menu-logo.show {
      opacity: 1; }
  .side-menu .side-menu-links-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 14px; }
    .side-menu .side-menu-links-list .side-menu-anchor {
      text-decoration: none;
      overflow: visible;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
    .side-menu .side-menu-links-list .side-menu-link {
      font-size: 16px;
      padding: 8px;
      color: black;
      font-family: "Titillium Web", sans-serif;
      overflow: visible;
      width: 100%; }
      .side-menu .side-menu-links-list .side-menu-link.active {
        background-color: black; }
        .side-menu .side-menu-links-list .side-menu-link.active .side-menu-link-text, .side-menu .side-menu-links-list .side-menu-link.active .side-menu-icon {
          color: white; }
    .side-menu .side-menu-links-list .side-menu-link-text {
      color: black;
      padding-left: 8px; }
    .side-menu .side-menu-links-list .side-menu-icon {
      color: black; }

.about-me {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 650px;
  height: 100vh; }
  @media (max-width: 992px) {
    .about-me {
      max-height: unset;
      height: auto; } }
  .about-me .about-me-content {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column; }
    .about-me .about-me-content .about-me-text {
      color: black;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      text-align: left;
      margin: 14px 160px; }
      @media (max-width: 992px) {
        .about-me .about-me-content .about-me-text {
          margin: 20px; } }

.navbar {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 20px;
  z-index: 10; }
  .navbar.fixed {
    position: fixed;
    background: #373737;
    width: 100%;
    top: 0;
    padding: 14px 80px;
    -webkit-transition: background 0.4s, width 0.4s;
    -moz-transition: background 0.4s, width 0.4s;
    -ms-transition: background 0.4s, width 0.4s;
    -o-transition: background 0.4s, width 0.4s;
    transition: background 0.4s, width 0.4s;
    -webkit-animation: fixing 0.4s 1;
    -moz-animation: fixing 0.4s 1;
    -ms-animation: fixing 0.4s 1;
    -o-animation: fixing 0.4s 1;
    animation: fixing 0.4s 1; }
    @media (max-width: 992px) {
      .navbar.fixed {
        background: transparent;
        position: absolute;
        padding: 14px; } }
  .navbar.unfixed {
    position: fixed;
    background: #373737;
    width: 100%;
    padding: 14px 80px;
    -webkit-animation: unfixing 0.4s 1 forwards;
    -moz-animation: unfixing 0.4s 1 forwards;
    -ms-animation: unfixing 0.4s 1 forwards;
    -o-animation: unfixing 0.4s 1 forwards;
    animation: unfixing 0.4s 1 forwards; }
  .navbar .navbar-left {
    float: left; }
    .navbar .navbar-left .navbar-anchor {
      text-decoration: none; }
    .navbar .navbar-left .navbar-logo {
      font-family: "Titillium Web", sans-serif;
      text-transform: uppercase;
      font-size: 20px;
      color: white;
      font-weight: 400; }
      @media (max-width: 992px) {
        .navbar .navbar-left .navbar-logo {
          padding: 0 25px; } }
      @media (max-width: 768px) {
        .navbar .navbar-left .navbar-logo {
          padding: 0; } }
  .navbar .navbar-right {
    float: right; }
    @media (max-width: 992px) {
      .navbar .navbar-right {
        display: none; } }
    .navbar .navbar-right .navbar-links-list {
      list-style: none;
      display: flex;
      flex-direction: row; }
      .navbar .navbar-right .navbar-links-list .navbar-anchor {
        text-decoration: none;
        color: white;
        font-size: 16px;
        margin: 0 20px;
        font-family: "Titillium Web", sans-serif; }

.main {
  position: relative;
  background-image: url(images/4e9906071d8bfbf7f055eefe5396ee08.png);
  background-color: rgba(0, 0, 0, 0.9);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  max-height: 100vh;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  -webkit-animation: fade-in-background 3s ease-in 4s forwards;
  -moz-animation: fade-in-background 3s ease-in 4s forwards;
  -ms-animation: fade-in-background 3s ease-in 4s forwards;
  -o-animation: fade-in-background 3s ease-in 4s forwards;
  animation: fade-in-background 3s ease-in 4s forwards; }
  @media (max-width: 768px) {
    .main {
      height: 100vh;
      max-height: unset;
      background-attachment: scroll; } }
  .main .main-content {
    color: white;
    font-family: "Open Sans", sans-serif; }
    .main .main-content .main-content-title {
      font-size: 44px;
      margin-bottom: 14px;
      overflow: hidden;
      border-right: 5.6px solid transparent;
      padding-right: 4px;
      white-space: nowrap;
      margin: 0 auto;
      -webkit-animation: typewritter 4s steps(40, end), caret 1s step-end 6;
      -moz-animation: typewritter 4s steps(40, end), caret 1s step-end 6;
      -ms-animation: typewritter 4s steps(40, end), caret 1s step-end 6;
      -o-animation: typewritter 4s steps(40, end), caret 1s step-end 6;
      animation: typewritter 4s steps(40, end), caret 1s step-end 6; }
      @media (max-width: 992px) {
        .main .main-content .main-content-title {
          font-size: 35.2px; } }
      @media (max-width: 768px) {
        .main .main-content .main-content-title {
          font-size: 26.4px; } }
      @media (max-width: 480px) {
        .main .main-content .main-content-title {
          font-size: 22px; } }
    .main .main-content .main-content-subtitle {
      font-size: 20px; }
  .main .main-footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px; }
    .main .main-footer .social-media-list {
      list-style: none;
      display: flex;
      flex-direction: row; }
      .main .main-footer .social-media-list .social-media-item {
        margin: 0 10px; }
      .main .main-footer .social-media-list .social-media-icon {
        color: rgba(255, 255, 255, 0.5);
        font-size: 36px;
        -webkit-transition: color 0.4s;
        -moz-transition: color 0.4s;
        -ms-transition: color 0.4s;
        -o-transition: color 0.4s;
        transition: color 0.4s; }
        .main .main-footer .social-media-list .social-media-icon:hover {
          color: white; }

.challenge {
  background-color: #ebf6ee;
  padding: 80px 0;
  min-height: 600px;
  height: auto; }
  .challenge .challenge-container {
    margin-top: 60px;
    margin-bottom: 60px; }
  .challenge .challenge-board {
    margin-top: 40px;
    background-color: white;
    min-height: 300px;
    height: auto;
    margin: 0 112px;
    box-shadow: 0px 2px 10px rgba(182, 222, 193, 0.8);
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .challenge .challenge-board {
        margin: 40px; } }
    @media (max-width: 480px) {
      .challenge .challenge-board {
        margin: 14px; } }
    .challenge .challenge-board .challenge-board-left {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 40%; }
      @media (max-width: 992px) {
        .challenge .challenge-board .challenge-board-left {
          width: 50%; } }
      @media (max-width: 768px) {
        .challenge .challenge-board .challenge-board-left {
          width: 100%;
          margin: 40px 0 0; } }
      .challenge .challenge-board .challenge-board-left .user-picture {
        height: 175px;
        width: 175px;
        background-position: center;
        background-size: cover;
        border-radius: 50%; }
      .challenge .challenge-board .challenge-board-left .user-profile-link {
        text-align: center;
        color: #1f4429;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        margin-top: 14px;
        font-size: 14px; }
    .challenge .challenge-board .challenge-board-right {
      width: 60%;
      display: flex;
      justify-content: center;
      flex-direction: column; }
      @media (max-width: 992px) {
        .challenge .challenge-board .challenge-board-right {
          width: 50%; } }
      @media (max-width: 768px) {
        .challenge .challenge-board .challenge-board-right {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center; } }
      .challenge .challenge-board .challenge-board-right .challenge-board-info {
        list-style: none; }
        .challenge .challenge-board .challenge-board-right .challenge-board-info .challenge-board-item {
          color: #1f4429;
          font-family: "Open Sans", sans-serif;
          text-transform: uppercase;
          font-weight: 700;
          margin: 10px 0;
          font-size: 14px; }
          .challenge .challenge-board .challenge-board-right .challenge-board-info .challenge-board-item.user-name {
            font-size: 20px;
            margin: 40px 0;
            font-family: "Titillium Web", sans-serif; }
      .challenge .challenge-board .challenge-board-right .challenge-buttons {
        margin: 40px 0; }
        .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button {
          border: 2px solid #93cea3;
          height: 40px;
          background-color: transparent;
          margin-right: 10px;
          cursor: pointer;
          -webkit-transition: background 0.4s, opacity 0.4s, color 0.4s;
          -moz-transition: background 0.4s, opacity 0.4s, color 0.4s;
          -ms-transition: background 0.4s, opacity 0.4s, color 0.4s;
          -o-transition: background 0.4s, opacity 0.4s, color 0.4s;
          transition: background 0.4s, opacity 0.4s, color 0.4s; }
          @media (max-width: 992px) {
            .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button {
              width: 200px;
              padding: 0; }
              .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button:nth-child(2) {
                margin-top: -2px; } }
          .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button .challenge-button-text {
            padding: 0 8px;
            color: #93cea3;
            font-family: "Open Sans", sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14.4px; }
          .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button .challenge-button-icon {
            margin-left: 2.5px;
            color: #93cea3;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 14.4px;
            float: right;
            margin-right: 14px; }
            .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button .challenge-button-icon.inverted {
              transform: rotate(180deg); }
          .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button:disabled {
            opacity: 0.5;
            cursor: default; }
          .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button:hover, .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button:disabled {
            background-color: #93cea3; }
            .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button:hover .challenge-button-text, .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button:hover .challenge-button-icon, .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button:disabled .challenge-button-text, .challenge .challenge-board .challenge-board-right .challenge-buttons .challenge-button:disabled .challenge-button-icon {
              color: white; }
    .challenge .challenge-board .challenge-repositories {
      width: 100%;
      margin: 0 80px 40px; }
      @media (max-width: 480px) {
        .challenge .challenge-board .challenge-repositories {
          margin: 20px; } }
      .challenge .challenge-board .challenge-repositories .challenge-panel {
        max-height: 0;
        overflow: hidden;
        -webkit-transition: max-height 0.4s ease-out;
        -moz-transition: max-height 0.4s ease-out;
        -ms-transition: max-height 0.4s ease-out;
        -o-transition: max-height 0.4s ease-out;
        transition: max-height 0.4s ease-out; }
        .challenge .challenge-board .challenge-repositories .challenge-panel.visible {
          max-height: 1000px; }
      .challenge .challenge-board .challenge-repositories .challenge-list-title {
        color: #1f4429;
        font-family: "Open Sans", sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        margin: 20px 0;
        font-size: 14px; }
        .challenge .challenge-board .challenge-repositories .challenge-list-title.hidden {
          display: none; }
      .challenge .challenge-board .challenge-repositories .challenge-repositories-list {
        list-style: none; }
        .challenge .challenge-board .challenge-repositories .challenge-repositories-list .challenge-repository {
          padding-left: 16px;
          -webkit-animation: growing_repository 0.4s forwards;
          -moz-animation: growing_repository 0.4s forwards;
          -ms-animation: growing_repository 0.4s forwards;
          -o-animation: growing_repository 0.4s forwards;
          animation: growing_repository 0.4s forwards;
          line-height: 40px;
          width: 100%;
          background-color: white; }
          .challenge .challenge-board .challenge-repositories .challenge-repositories-list .challenge-repository:nth-child(2n + 1) {
            background-color: #ebf6ee; }
          .challenge .challenge-board .challenge-repositories .challenge-repositories-list .challenge-repository .challenge-repository-link {
            text-decoration: none; }
          .challenge .challenge-board .challenge-repositories .challenge-repositories-list .challenge-repository .challenge-repository-name {
            color: #1f4429;
            font-size: 16px;
            font-family: "Open Sans", sans-serif; }
            @media (max-width: 480px) {
              .challenge .challenge-board .challenge-repositories .challenge-repositories-list .challenge-repository .challenge-repository-name {
                font-size: 14px; } }

.footer {
  background-color: #373737;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer .footer-text {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 14px; }

.loading {
  display: inline-block;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 1; }
  .loading:not(.visible) {
    opacity: 0; }
  .loading:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #93cea3;
    border-color: #93cea3 transparent #93cea3 transparent;
    -webkit-animation: spinning-loading 0.4s linear infinite;
    -moz-animation: spinning-loading 0.4s linear infinite;
    -ms-animation: spinning-loading 0.4s linear infinite;
    -o-animation: spinning-loading 0.4s linear infinite;
    animation: spinning-loading 0.4s linear infinite; }

